:root {
    --RojoOscuro: #8B0000;
    --NegroProfundo: #090505;
    --AzulEléctrico: #156b6b;
    --RojoProfundo: #6e1414;
    --AzulNoche: #000080;
    --GrisOscuro: #190808;
    --AzulCobalto: #0047AB;
    --scroll-distance: (-250 * 16)px
}
/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body{
    background-image:url(/img/backgrond.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;justify-content: center;
    min-height: 100dvh
}

.contenedor{
    display: flex;
    /* justify-content: center; */
    width: 80vw;
    mask: linear-gradient(90deg, transparent, white 25%, white 75%, transparent);
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 25%,
      white 75%,
      transparent
    );
    overflow: hidden;
    margin: 2rem 0;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    max-height: 50%;
    gap: 2rem;
    
}
.slide-track{
    width: 100%;
    height: 100%;
}

.slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    /* -webkit-animation: scroll 40s linear infinite; */
    width: calc(250px * 32);
    max-height: 380px;
    gap: 40px;
}

.slider .slide {
    width: 250px;
    max-height: 400px;
}

.slider .slide img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit:cover;
}


img {
    max-width: 100%;
    max-height: 100%;
}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(var(--scroll-distance));
        transform: translateX(var(--scroll-distance));
    }
}
@keyframes scroll2 {
    0% {
        -webkit-transform: translateX(var(--scroll-distance));        
        transform: translateX(var(--scroll-distance));
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}